/* General */
html,body{
	overflow: hidden;
	height: 100%;
}

.hide {
	display: none;
}

/* Controllers */
#controllers.container {
	height: 100%;
	max-width: 100%; 
}

#controllers.container .row {
	height: 100%;
}

#controllers.container .row .column {
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
	padding: 1em;
}

#controllers .border-right {
	border-right-width: 1px;
	border-right-style: solid;
}

/* Templates */
#templates {
	display: none;
}

/* Loader */
#loader {
	z-index: 9001;
	width: 200px;
	height: 214px;
	position: absolute;
	top: 100%;
	margin-top: -210px;
	left: 16.5%;
	margin-left: -100px;
}
