/* General */
html,body{
	overflow: hidden;
	height: 100%;
	font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.hide {
	display: none;
}

/* Controllers */
#controllers.container {
	height: 100%;
	max-width: 100%; 
	padding: 0;
}

#controllers.container .row {
	height: 100%;
}

#controllers.container .row .column {
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
	padding: 1em;
}

/* Pkg List */
#controllers #pkg-list .header {
	text-align: center;
	margin: 0.5em 0;
	padding: 0.2em;
	font-size: 0.8em;
	font-weight: bold;
}

#controllers #pkg-list .pkg {
	padding: 0.2em 1em;
}

#controllers #pkg-list .search input::-webkit-input-placeholder {
	font-size: 0.8em;
	line-height: 1.5;
}

/* Pkg Details */
#pkg-details h4 {
	margin: 0.5em 0;
}

/* Templates */
#templates {
	display: none;
}

/* Loader */
#loader {
	z-index: 9001;
	width: 200px;
	height: 214px;
	position: absolute;
	top: 100%;
	margin-top: -210px;
	left: 16.5%;
	margin-left: -100px;
}
